In [3]:
import pandas as pd

dfSmoke = pd.read_csv("Smoke_Currently_by_State.csv")
dfSmoke.head()

        State  Average_of_2011to2015
0     Alabama                  22.42
1      Alaska                  21.00
2     Arizona                  16.64
3    Arkansas                  25.50
4  California                  12.66